In [1]:
import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scripts import datapipe
from scripts import helper_functions
plt.style.use('ggplot')

In [16]:
q = '''SELECT global_id
                    , created_at
                    , external_id
                    , name
                    , type
        FROM temp
        WHERE created_at >= CAST("{}-{}-01" AS DATE)
            --AND type LIKE 'lab'
    '''

query = datapipe.SqlQuery(q, 1899, 1)
path = '/media/austin/Ubuntu-2/postgres_i502/raw_data/I502/Licensees_0.csv'

In [18]:
data = datapipe.DataPipe(path, query, 'licensees')

In [19]:
df = pd.read_csv('/home/austin/code/dsi/capstone_1/licensees_year_Nonemonth_None.csv/part-00000-e336c06b-db61-472c-8357-de32b6d8a4df-c000.csv')

In [20]:
df.head()

,global_id,created_at,external_id,name,type
0,WAWA1.MM1,1900-01-01T00:00:00.000-08:00,1,WA State,state
1,WAWA1.MM2,1900-01-01T00:00:00.000-08:00,1111,LCB Grow,cultivator
2,WAWA1.MM3,1900-01-01T00:00:00.000-08:00,2222,LCB Mfg,production
3,WAWA1.MM4,1900-01-01T00:00:00.000-08:00,3333,LCB Retail,dispensary
4,WAWA1.MM5,1900-01-01T00:00:00.000-08:00,4444,LCB Lab,lab

In [21]:
df['type'].value_counts()

cultivator_production    1424
dispensary                765
production                348
cultivator                238
co-op                      34
transporter                28
lab                        23
tribe                      21
state                       1
Name: type, dtype: int64

In [24]:
df[df['type'] == 'lab']['name']

4                              LCB Lab
1908              Analytical 360, LLC.
1909              Confidence Analytics
1910              True Northwest, Inc.
1911                     G.O.A.T. Labs
1912                    Integrity Labs
1913                   Steep Hill Labs
1914                       Anatek Labs
1915              Testing Technologies
1916                 Green Grower Labs
1917      Dragon Analytical Laboratory
1918                   Trace Analytics
1919                      HD Analytics
1920          Medicine Creek Analytics
1921            MOLECULAR TESTING LABS
1922                  CAPITOL ANALYSIS
2272                          mjf test
2279                 Praxis Laboratory
2496                Treeline Analytics
2684                  Lab Attested Fix
2685                  Lab Attested Fix
2750             Atlas Agriscience LLC
2777    Pacific Botanical Laboratories
Name: name, dtype: object