In [11]:
import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scripts import datapipe
from scripts import helper_functions
plt.style.use('ggplot')

In [12]:
q = '''SELECT global_id
                    , created_at
                    , mme_id
                    , user_id
                    , external_id
                    , is_parent_batch
                    , is_child_batch
                    , type
        FROM temp
        WHERE created_at >= CAST("{}-{}-01" AS DATE)
    '''

query = datapipe.SqlQuery(q, 2020, 1)
path = '/media/austin/Ubuntu-2/postgres_i502/raw_data/I502/Batches_0.csv'

In [13]:
data = datapipe.DataPipe(path, query, 'batches')

In [15]:
df = pd.read_csv("/home/austin/code/dsi/capstone_1/batches_year_Nonemonth_None.csv/part-00000-53d393ed-da5f-4d61-9052-e92056c6df0f-c000.csv"
                , error_bad_lines=False)

b'Skipping line 833912: expected 8 fields, saw 10\n'
b'Skipping line 1423056: expected 8 fields, saw 10\n'
b'Skipping line 1787391: expected 8 fields, saw 10\n'
b'Skipping line 8477543: expected 8 fields, saw 10\n'

In [16]:
df.head()

,global_id,created_at,mme_id,user_id,external_id,is_parent_batch,is_child_batch,type
0,WAJ412217.BAFU05R,2020-01-01T00:00:00.000-08:00,WAWA1.MMG,WAWA1.US6I,NaN,True,False,plant
1,WAJ412217.BAFU05S,2020-01-01T00:01:31.000-08:00,WAWA1.MMG,WAWA1.US6I,NaN,True,False,plant
2,WAJ412217.BAFU05T,2020-01-01T00:03:18.000-08:00,WAWA1.MMG,WAWA1.US6I,7,False,False,propagation material
3,WAJ412217.BAFU05U,2020-01-01T00:04:00.000-08:00,WAWA1.MMG,WAWA1.US6I,NaN,False,True,intermediate/ end product
4,WAR424751.BAFU05V,2020-01-01T00:04:39.000-08:00,WAWA1.MMB8,WAWA1.US91,IN_CONV2_WAJ414289.INE2OI3,False,True,intermediate/ end product

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10277437 entries, 0 to 10277436
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   global_id        object
 1   created_at       object
 2   mme_id           object
 3   user_id          object
 4   external_id      object
 5   is_parent_batch  bool
 6   is_child_batch   bool
 7   type             object
dtypes: bool(2), object(6)
memory usage: 490.1+ MB

In [20]:
df['is_parent_batch'].value_counts()

False    9211022
True     1066415
Name: is_parent_batch, dtype: int64

In [26]:
df[df['is_parent_batch'] == True]['type'].value_counts()

plant                        544422
propagation material         244825
intermediate/ end product    218289
harvest                       58875
Name: type, dtype: int64

In [19]:
df['is_child_batch'].value_counts()

True     6477283
False    3800154
Name: is_child_batch, dtype: int64

In [25]:
df[df['is_child_batch'] == True]['type'].value_counts()

intermediate/ end product    5675013
plant                         360697
propagation material          244792
harvest                       196781
Name: type, dtype: int64

In [28]:
df[(df['is_child_batch'] == True) & (df['type'] == 'harvest')].head()

,global_id,created_at,mme_id,user_id,external_id,is_parent_batch,is_child_batch,type
165,WAJ416272.BAFU0AC,2020-01-01T00:13:59.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,False,True,harvest
469,WAJ416272.BAFU0IS,2020-01-01T00:14:49.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,False,True,harvest
492,WAJ416272.BAFU0JF,2020-01-01T00:16:39.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,False,True,harvest
493,WAJ416272.BAFU0JG,2020-01-01T00:17:06.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,True,True,harvest
499,WAJ416272.BAFU0JM,2020-01-01T00:17:57.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,False,True,harvest

In [31]:
df[(df['is_parent_batch'] == True) & (df['type'] == 'harvest')].head()

,global_id,created_at,mme_id,user_id,external_id,is_parent_batch,is_child_batch,type
493,WAJ416272.BAFU0JG,2020-01-01T00:17:06.000-08:00,WAWA1.MMAZ,WAWA1.USTK,NaN,True,True,harvest
2057,WAJ412053.BAFU1QW,2020-01-01T01:11:33.000-08:00,WAWA1.MMS,WAWA1.USO,NaN,True,True,harvest
2909,WAR427634.BAFU2EK,2020-01-01T01:41:42.000-08:00,WAWA1.MM4V,WAWA1.US3FK,162,True,True,harvest
2921,WAR427634.BAFU2EW,2020-01-01T01:41:43.000-08:00,WAWA1.MM4V,WAWA1.US3FK,NaN,True,True,harvest
2928,WAR427634.BAFU2F3,2020-01-01T01:41:43.000-08:00,WAWA1.MM4V,WAWA1.US3FK,178,True,True,harvest

In [34]:
df[(df['is_parent_batch'] == False) & (df['type'] == 'harvest') & (df['is_child_batch'] == False)].head()

,global_id,created_at,mme_id,user_id,external_id,is_parent_batch,is_child_batch,type
4928,WAR414356.BAFU3YN,2020-01-01T03:00:10.000-08:00,WAWA1.MMM3,WAWA1.USJY,NaN,False,False,harvest
7547,WAM416698.BAFU5ZE,2020-01-01T05:04:39.000-08:00,WAWA1.MMN8,WAWA1.US363,4152220000008339,False,False,harvest
7548,WAM416698.BAFU5ZF,2020-01-01T05:04:39.000-08:00,WAWA1.MMN8,WAWA1.US363,4152220000008331,False,False,harvest
8922,WAM416698.BAFU71L,2020-01-01T05:49:46.000-08:00,WAWA1.MMN8,WAWA1.US363,4129040000007968,False,False,harvest
15971,WAM412236.BAFUCHE,2020-01-02T00:09:36.000-08:00,WAWA1.MM4R,WAWA1.US3C,4144300000000857,False,False,harvest